<% include layouts/header %>
<link rel="stylesheet" href="/css/index.css">
<!-- 轮播图 -->
<div id="banner">
	<ul id="bannerul">
		<li>
			<img src="/imgs/diaoke banner.png" alt="">
		</li>
		<li>
			<img src="/imgs/banner3.png" alt="">
		</li>
		<li>
			<img src="/imgs/banner.png" alt="">
		</li>
		<li>
			<img src="/imgs/banner1.png" alt="">
		</li>
	</ul>
	<div id="prev">&lt;</div>
	<div id="next">&gt;</div>
	<ul class="xiaoyuandian">
		<li style="background:#E60012"></li>
		<li></li>
		<li></li>
		<li></li>
	</ul>
</div>
<!-- 轮播图结束 -->
<!-- 主题内容 -->
<main>
	<!-- 艺匠心 -->
	<div class="yijiangxin">
		<div class="yjxlogo">
			<a data-tab="yijiangxin" href="/yijiangxin?tab=yijiangxin"><img src="/imgs/Group 4.png" alt=""></a>
		</div>
		<ul id="yjxinfo">
			<li>
				<img src="/imgs/shu  kuang  da xiao.png" alt=""></a>
				<p class="name">泥人周</p>
			</li>
			<li>
				<img src="/imgs/shu  kuang  da xiao.png" alt="">
				<p class="name">糖人李</p>
			</li>
			<li>
				<img src="/imgs/shu  kuang  da xiao.png" alt="">
				<p class="name">周涛黑</p>
			</li>
			<li>
				<img src="/imgs/shu  kuang  da xiao.png" alt="">
				<p class="name">周涛白</p>
			</li>
			<li>
				<img src="/imgs/shu  kuang  da xiao.png" alt="">
				<p class="name">周涛K</p>
			</li>
		</ul>
		<ul class="namehead">
			<li>
				<img src="/imgs/0b451673b52e7bb8944d66d50c982255 copy 8.png" alt="">
			</li>
			<li>
				<img src="/imgs/0b451673b52e7bb8944d66d50c982255 copy 7.png" alt="">
			</li>
			<li>
				<img src="/imgs/d66d50c982255 copy 6.png" alt="">
			</li>
			<li>
				<img src="/imgs/bb8944d66d50c982255 copy 4.png" alt="">
			</li>
			<li>
				<img src="/imgs/4d66d50c982255 copy 5.png" alt="">
			</li>
		</ul>
	</div>
	<!-- 艺匠心结束 --> 
	<!-- 艺直播 -->
	<div id="yizhibo">
		<div class="yjxlogo">
			<a data-tab="yizhibo" href="/yizhibo?tab=yizhibo"><img src="/imgs/Group 11.png" alt=""></a>
		</div>
		<div id="yzbinfo">
			<img src="/imgs/ken1.png" alt="">
			<p>“自云有奇术，探妙知天工”。中国古代的技艺如此美妙，现代确鲜有人知。为了让我们的传统文化不泯灭，让我们的传统工艺得以延续，让我们一起走进和倾听传统手工艺的“声音”……</p>
		</div>
		<div id="yzbvideo">
			<div class="yzbvideo1">
				<a data-tab="yizhibo" href="/yizhibo?tab=yizhibo"><img src="/imgs/Group 12.png" alt=""></a>
			</div>
			<div class="yzbvideo2">
				<img src="/imgs/Group 13.png" alt="">
			</div>
			<div class="yzbvideo2 yzb_t">
				<img src="/imgs/Group 14.png" alt="">
			</div>
		</div>
	</div>
	<!-- 艺直播结束 -->
	<!-- 艺学院 -->
	<div id="yixueyuan">
		<div class="yjxlogo">
			<a data-tab="yixueyuan" href="/yixueyuan?tab=yixueyuan"><img src="/imgs/Group 15.png" alt=""></a>
		</div>
		<div class="yxycontent">
			<div class="yxycontent_img">
				<a data-tab="yixueyuan" href="/yixueyuan?tab=yixueyuan"><img src="/imgs/Group 16.png" alt=""></a>
			</div>
			<div class="yxycontent_info">
				<p>自己动手制作背云一枚</p>
				<p>在钢筋水泥的都市里，重新体验一针一线劳作全靠自己的生活，回到最原始的手动年代，摒弃千篇一律的流水线产品，用双手去展现手作的生命力。</p>
				
			</div>
		</div>
		<div class="yxycontent">
			
			<div class="yxycontent_info yxy_copy">
				<p>皮艺—皮包制作教程</p>
				<p>在钢筋水泥的都市里，重新体验一针一线劳作全靠自己的生活，回到最原始的手动年代，摒弃千篇一律的流水线产品，用双手去展现手作的生命力。</p>
				<div class="yxycontent_info_img">
					<a data-tab="yixueyuan" href="/yixueyuan?tab=yixueyuan"><img src="/imgs/Group 18.png" alt=""></a>
				</div>
			</div>
			<div class="yxycontent_img">
				<a data-tab="yixueyuan" href="/yixueyuan?tab=yixueyuan"><img src="/imgs/Group 17.png" alt=""></a>
			</div>
		</div>
	</div>
	<!-- 艺学院结束 -->
	<!-- 艺学院活动 -->
	<div id="yihuodong">
		<div class="yjxlogo">
			<a data-tab="yihuodong" href="/yihuodong?tab=yihuodong"><img src="/imgs/Group 19.png" alt=""></a>
		</div>
		<ul class="yhdzml">
			<li>
				<a data-tab="yihuodong" href="/yihuodong?tab=yihuodong"><img src="/imgs/Group 20.png" alt=""></a>
			</li>
			<li>
				<a data-tab="yihuodong" href="/yihuodong?tab=yihuodong"><img src="/imgs/Group 22.png" alt=""></a>
			</li>
			<li>
				<a data-tab="yihuodong" href="/yihuodong?tab=yihuodong"><img src="/imgs/Group 233.png" alt=""></a>
			</li>
		</ul>
	</div>
	<!-- 艺学院活动结束 -->
	<!-- 艺学交易 -->
	<div id="yijiaoyi">
		<div class="yjxlogo">
			<a data-tab="yijiaoyi" href="/yijiaoyi?tab=yijiaoyi"><img src="/imgs/Group .png" alt=""></a>
		</div>
		<ul class="yijiaoyi_imginfo">
			<li>
				<a data-tab="yijiaoyi" href="/yijiaoyi?tab=yijiaoyi"><img src="/imgs/Group 23.png" alt=""></a>
			</li>
			<li>
				<a data-tab="yijiaoyi" href="/yijiaoyi?tab=yijiaoyi"><img src="/imgs/Group 24.png" alt=""></a>
			</li>
			<li>
				<a data-tab="yijiaoyi" href="/yijiaoyi?tab=yijiaoyi"><img src="/imgs/Group 25.png" alt=""></a>
			</li>
			<li>
				<a data-tab="yijiaoyi" href="/yijiaoyi?tab=yijiaoyi"><img src="/imgs/Group 26.png" alt=""></a>
			</li>
		</ul>
	</div>
	<!-- 艺学交易结束 -->
</main>
<!-- 主题结束 -->

<script src="/js/index.js"></script>
<% include layouts/footer %>