<% include layouts/header %>
<link rel="stylesheet" href="/css/user.css">

<div id="userinfo">
	<div class="infotop">
		<div class="infotleft">
			<img src="/imgs/ren.png" alt="">
		</div>
		<div class="usersinfo">
			<p class="info_header">个人中心</p>
			<p class="username">昵&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：黑桃K</p>
			<p class="username">账&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：18717323733</p>
			<div class="username line">
				<span class="font">安全等级：</span>
				<div id="block">
					<div></div>
					<div></div>
					<div></div>
					<div></div>
				</div>
				<span class="line-right">高</span>
			</div>
			<div id="user-img">
				<div class="shiming">
					<img src="/imgs/shiming.png" alt="">
					<p>实名认证</p>
				</div>
				<div class="plus">
					<img src="/imgs/zhongxin.png" alt="">
					<p>普通会员</p>
				</div>
			</div>
		</div>
	</div>
	<div id="infobottom">
		<div class="ibl">
			<ul>
				<li>
					<img src="/imgs/Bitmap Copy 23.png" alt="">
					<p>我的收藏</p>
				</li>
				<li>
					<img src="/imgs/Bitmap Copy 23.png" alt="">
					<p>我的发布</p>
				</li>
				<li>
					<img src="/imgs/Bitmap Copy 23.png" alt="">
					<p>我的订单</p>
				</li>
				<li>
					<img src="/imgs/Bitmap Copy 23.png" alt="">
					<p>收货地址</p>
				</li>
			</ul>
		</div>
		<div id="ibr">
			<div class="x1 x5" style="display:block">
				<ul class="q1">
					<li style="background:#E60012;color:#fff">
						<span>课程收藏(0)</span>
					</li>
					<li>
						<span>文章收藏(0)</span>
					</li>
					<li>
						<span>工艺品收藏(3)</span>
					</li>
					<li>
						<span>活动收藏(2)</span>
					</li>
				</ul>
				<div class="x1x">
					<div style="display:block" class="jsx xdiv1">
						<img src="/imgs/824195242609975729.png" alt="">
						<p>您还没有收藏任何课程喔</p>
					</div>
					<div class="jsx xdiv1">
						<img src="/imgs/824195242609975729.png" alt="">
						<p>您还没有收藏任何文章喔</p>
					</div>
					<div class="jsx">
						<div class="shoucang">
							<img src="/imgs/shoucang three.png" alt="">
							<div class="wen">
								<span>放弃收藏</span>
								<span>立即购买</span>
							</div>
						</div>
						<div class="shoucang">
							<img src="/imgs/shoucang two.png" alt="">
							<div class="wen">
								<span>放弃收藏</span>
								<span>立即购买</span>
							</div>
						</div>
						<div class="shoucang">
							<img src="/imgs/shoucang.png" alt="">
							<div class="wen">
								<span>放弃收藏</span>
								<span>立即购买</span>
							</div>
						</div>
					</div>
					<div class="jsx">
						<div class="j4">
							<img src="/imgs/wenzhang shoucang.png" alt="">
							<div class="j4p">
								<div>删除</div>
								<div>立即报名</div>
								<div>查看详情</div>
							</div>
						</div>
						<div class="j4">
							<img src="/imgs/wenzhangshoucangtwo.png" alt="">
							<div class="j4p">
								<div>删除</div>
								<div>立即报名</div>
								<div>查看详情</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="x2 x5"  >
				<div class="x2top">
					我的发布(0)
				</div>
				<div class="xu">
					<img src="/imgs/824195242609975729.png" alt="">
					<p>您还没有收藏任何课程喔</p>
					<div class="fabu">立即发布</div>
				</div>
				
			</div>
			<div class="x3 x5">
				<ul class="q1">
					<li style="background:#E60012;color:#fff">
						<span>全部</span>
					</li>
					<li>
						<span>待收货</span>
					</li>
					<li>
						<span>待发货</span>
					</li>
					<li>
						<span>待评价</span>
					</li>
				</ul>
				<div class="x1x">
					<div style="display:block" class="jsx xdiv1">
						<img src="/imgs/824195242609975729.png" alt="">
						<p>您还没有收藏任何课程喔</p>
					</div>
					<div class="jsx xdiv1">
						<img src="/imgs/824195242609975729.png" alt="">
						<p>您还没有收藏任何文章喔</p>
					</div>
					<div class="jsx">
						<div class="shoucang">
							<img src="/imgs/shoucang three.png" alt="">
							<div class="wen">
								<span>放弃收藏</span>
								<span>立即购买</span>
							</div>
						</div>
						<div class="shoucang">
							<img src="/imgs/shoucang two.png" alt="">
							<div class="wen">
								<span>放弃收藏</span>
								<span>立即购买</span>
							</div>
						</div>
						<div class="shoucang">
							<img src="/imgs/shoucang.png" alt="">
							<div class="wen">
								<span>放弃收藏</span>
								<span>立即购买</span>
							</div>
						</div>
					</div>
					<div class="jsx">
						<div class="j4">
							<img src="/imgs/wenzhang shoucang.png" alt="">
							<div class="j4p">
								<div>删除</div>
								<div>立即报名</div>
								<div>查看详情</div>
							</div>
						</div>
						<div class="j4">
							<img src="/imgs/wenzhangshoucangtwo.png" alt="">
							<div class="j4p">
								<div>删除</div>
								<div>立即报名</div>
								<div>查看详情</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="x4 x5">
				<div class="x2top">
					我的收货地址
				</div>
				<div class="xu">
					<img src="/imgs/824195242609975729.png" alt="">
					<p>您还没有收藏任何课程喔</p>
					<div class="fabu">立即发布</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/users.js"></script>
<% include layouts/footer %>