<% include layouts/header %>
<link rel="stylesheet" href="/css/yunhuodongpaging.css">
<div class="adv">
	<img src="/imgs/yhd/abanner.png" alt="">
</div>
<div class="hint hint1">
	<div>	比赛流程 </div>
</div>

<div class="flow">
	<div class="flow1">
		<div class="line"></div>
		<div class="option option1">
			<div>报名</div>
			<div class="option-img"><img src="/imgs/yhd/Bitmap Copy .png" alt=""></div>
			<div>9.15</div>
		</div>
		<div class="option">
			<div>初赛</div>
			<div class="option-img"><img src="/imgs/yhd/Bitmap Copy 3.png" alt=""></div>
			<div>9.17</div>
		</div>
		<div class="option">
			<div>复赛</div>
			<div class="option-img"><img src="/imgs/yhd/Bitmap Copy 3.png" alt=""></div>
			<div>9.18</div>
		</div>
		<div class="option">
			<div>决赛</div>
			<div class="option-img"><img src="/imgs/yhd/Bitmap Copy 3.png" alt=""></div>
			<div>9.20</div>
		</div>
		<div class="option">
			<div class="zi">作品展示</div>
			<div class="option-img"><img src="/imgs/yhd/Bitmap Copy 3.png" alt=""></div>
			<div>9.25</div>
		</div>
		<div class="option option2">
			<div class="zi">颁发奖品</div>
			<div class="option-img"><img src="/imgs/yhd/Bitmap Copy 3.png" alt=""></div>
			<div>9.27</div>
		</div>
	</div>
</div>

<div class="hint hint2">
	<div>奖项设置 </div>
</div>

<div class="notice">
	<div class="notice-xq">
		<h4>第一名</h4>
		<div>奖金30000</div>
		<div>金牌作品一个</div>
		<div>奖励全套学习视频一套</div>
	</div>
	<div class="notice-xq">
		<h4>第二名</h4>
		<div>奖金20000</div>
		<div>银牌作品一个</div>
		<div>奖励全套学习视频一套</div>
	</div>
	<div class="notice-xq">
		<h4>第三名</h4>
		<div>奖金20000</div>
		<div>铜牌作品一个</div>
		<div>奖励全套学习视频一套</div>
	</div>
</div>
<div class="notice2">
	<div class="notice-xq">
		<h4>最佳人气一等奖</h4>
		<div>奖励金牌作品一个</div>
		<div>奖励全套学习视频一套</div>
	</div>
	<div class="notice-xq">
		<h4>最佳人气二等奖</h4>
		<div>银牌作品一个</div>
		<div>奖励全套学习视频一套</div>
	</div>
</div>

<div class="hint hint3">
	<div> 比赛规则 </div>
</div>

<div class="rule1">
	<div class="rule">
		<div class="line line2"></div>
		<div class="line line3"></div>
		<div class="upright upright1"></div>
		<div class="upright upright2"></div>
		<div class="duan">
			<div class="lala">1.前三名由专业评委根据自己做的作品评选得出，最佳人气奖根据官网投票数高低顺序依次产生</div>
			<div>2.已经在平台上发布过的作品不得再次参加本次比赛</div>
			<div>3.参赛者的作品必须为个人原创，严禁抄袭、过度借鉴等一切侵权行为</div>
			<div>4.参赛作品不得涉及政治、宗教暴力等因素，此类不合格作品将做删除处理</div>
		</div>
		<div class="rule-img"></div>	
	</div>
</div>
<div class="button">立刻报名</div>
<% include layouts/footer %>