<% include layouts/header %>

<link rel="stylesheet" href="/css/yunhuodong.css">
<div class="background1">
	<img src="imgs/yhd/banner.png" alt="">
</div>
<div class="notice">
	<div>
		<img src="/imgs/yhd/yhd1.png" alt="">
		<img src="/imgs/yhd/yhd2.png" alt="">
		<img src="/imgs/yhd/yhd3.png" alt="">
		<img class="imgright" src="/imgs/yhd/yhd4.png" alt="">
	</div>
</div>
<div class="notice2">
	<div class="hong">
		<img src="/imgs/yhd/hong.png" alt="">
	</div>
	<div class="tuq.png">
		<img src="/imgs/yhd/tuq.png" alt="">
	</div>
</div>

<div class="adv">
	<a data-tab="yihuodong" href="/yihuodongpaging?tab=yihuodong"><img src="/imgs/yhd/banner1.png" alt=""></a>
</div>

<div class="adv">
	<img src="/imgs/yhd/banner2.png" alt="">
</div>

<div class="adv">
	<img src="/imgs/yhd/banner3.png" alt="">
</div>

<div class="page">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div class="right">下一页></div>

</div>
<% include layouts/footer %>