<% include layouts/header %>

<!-- 引入css文件 -->
<link rel="stylesheet" href="/css/yijiangxinpaging.css">


<!-- 内容部分 开始 -->
<div class="wrap">
	<div class="title">走进泥人的世界</div>
	<div class="one">
		<div class="left">
			<div class="left-wrap">
				<p class="left-first">惠山泥人周</p>
				<p>惠山的泥人张彩塑是一种深得百姓厚爱的传统民间艺术品</p>
				<p>泥人张张明山只须和人对面坐谈<br>，搏土于手<br>，不动声色<br>，</p>
				<p>惟妙惟肖，栩栩如生<br>。</p>
				<p>“<br>泥人周<br>”的彩塑<br>，把传统的捏泥人提高到圆塑艺术的水</p>
				<p>平<br>，又装饰以色彩<br>、道具<br>，形成了独特的风格<br>。它是继元</p>
				<p>代刘元之后<br>，我国又一个泥塑艺术的高峰<br>，其作品艺术精</p>
				<p>美<br>，影响远及世界各地<br>，在我国传统民间手工艺史上占有</p>
				<p>重要的地位<br>。</p>
				<div class="left-img">
					<img src="/imgs/b.png" alt="">
				</div>
			</div>
		</div>
		<div class="right">
			<img src="/imgs/tangren.png" alt="">
		</div>
	</div>

	<!-- 起源于发展  开始-->
	<div class="two two1">
		<div class="left">
			<div class="left-img1">
				<img src="/imgs/guangong.png" alt="">
			</div>
		</div>
		<div class="right">
			<div class="right-title">惠山泥人的起源于发展</div>
			<p>关于惠山泥人出现的时间有很多种说法。时间最早的说法是在战国时期，据传孙膑逃到吴国，流落在惠山一带，捏了不少泥人、泥马来研究破庞涓五雷阵的布阵新法。以后到了齐国为将一次与魏国作战时用在惠山研究的战法大破五雷阵，杀了庞涓。他在惠山捏泥人的技艺也传了下来，从此惠山居民跟着捏起泥人来。</p>
			<p>     有些观点则认为惠山泥人始于宋朝。北宋文人苏东坡曾在纪行诗中发出过惠泉山下土如濡，阳羡溪水米胜珠”的赞叹，有人视此诗中就蕴涵了用惠山泥土制作泥人的信息。而至南宋，江南一带盛行在七夕供奉小塑像，南宋孟元老《东京梦华录》中就有记载。因此有人将惠山泥人的肇始期定于宋代。但关于惠山泥人的最早文字记载始见于明代。明季文人王季重《游惠锡两山记》中“买泥人、买小刀戟以贻儿辈”的记载。比王季重稍晚的明末散文家张岱在《陶庵梦忆·愚公谷》中也写道：“无锡去县北五里为锡山，进桥店在岸，店精雅，卖泉酒、水坛、花缸、宜兴罐、风炉、盆碗、泥人等。”由此可知，在明代末年，惠山泥人已作为商品在当地店铺出售，并渐趋成熟。</p>
			<p>      由此可见，惠山泥人的出现时间应该在明代。教、祠堂、戏曲都有紧密的联系无锡泥人中最具代表的阿福，就源于佛教。中国工艺美术大师王木东先生曾画过一幅惠山大阿福的造型衍生图，指“大阿福的形象是从唐代惠山寺石经幢之高浮雕结伽趺座佛像及宋代惠山寺金莲桥之浅浮雕牡丹童子图案中衍生而来的。传说大阿福又叫“沙孩儿”，对于大阿福姓沙，有人将之理解为，沙即沙门，“沙孩儿”实则佛门里的沙弥僧，大阿福也就是惠山寺里的小和尚。而传统大阿福早期的制作工艺，就是用“单片印模”来刻制泥胚，而这种造像方法，直接采自唐朝传入我国的小型佛像制作由此可见大阿福的起源与佛教有关早期的大阿福可能就是用作供奉的。在乔锦洪写的《早期惠山粗货泥人》一文中也称：“据老艺人讲，最初的泥人是专为寺庙制作的小佛像，用于回赠前来进香的施主，所以早期泥人造型大多面目端庄、盘膝而坐，带有佛塑中‘结跏趺式’的痕迹。可以说，像造型是早期惠山泥人的取材之</p>
			<p>     作为“南朝四百八十寺”之一的惠山寺，香火旺盛，佛像如林，泥塑艺人们在长期观察中体会到佛塑造型具有立体感和动态感。他们在创作泥人时试加运用，效果颇佳，在后来的泥人创作中也出现了“手捏佛道”这类专门的泥人品种。如果说，惠山泥人的渊源与佛教文化有着千丝万缕的联系的话，那么，惠山泥人与惠山祠堂之间，同样存在着不解之缘。惠山祠堂群兴盛于明清，这段时间恰好也是惠山泥人得以发展、兴旺的时期。无锡市泥人研究所所长兼泥人博物馆馆长赵建高就曾说：“泥人文化与祠堂文化是密不可分的。惠山地区聚集了100多家祠堂，因此早期惠山泥塑艺人中有很多人除了农忙务农外，还兼作名门望族的祠堂看管人。当时的泥人生产，以每年九、十月至翌年四月十日纯阳节为忙季，忙季一过，艺人们仍以种田为主。清末，惠山泥人已由季节性的作坊生产逐渐过渡到专业生产。至辛亥革命前，专业作坊已有四十多家。其时，艺人仍多兼作惠山众多祠堂之“祠</p>
		</div>
	</div>
	<!-- 起源于发展  结束-->

	<!-- 发展过程  开始-->
	<div class="two">
		<div class="left left1">
			<div class="left-img1">
				<img src="/imgs/nirend.png" alt="">
			</div>
		</div>
		<div class="right right1">
			<div class="right-title">惠山泥人的发展过程</div>
			<p>关于惠山泥人出现的时间有很多种说法。时间最早的说法是在战国时期，据传孙膑逃到吴国，流落在惠山一带，捏了不少泥人、泥马来研究破庞涓五雷阵的布阵新法。以后到了齐国为将一次与魏国作战时用在惠山研究的战法大破五雷阵，杀了庞涓。他在惠山捏泥人的技艺也传了下来，从此惠山居民跟着捏起泥人来。</p>
			<p>     有些观点则认为惠山泥人始于宋朝。北宋文人苏东坡曾在纪行诗中发出过惠泉山下土如濡，阳羡溪水米胜珠”的赞叹，有人视此诗中就蕴涵了用惠山泥土制作泥人的信息。而至南宋，江南一带盛行在七夕供奉小塑像，南宋孟元老《东京梦华录》中就有记载。因此有人将惠山泥人的肇始期定于宋代。但关于惠山泥人的最早文字记载始见于明代。明季文人王季重《游惠锡两山记》中“买泥人、买小刀戟以贻儿辈”的记载。比王季重稍晚的明末散文家张岱在《陶庵梦忆·愚公谷》中也写道：“无锡去县北五里为锡山，进桥店在岸，店精雅，卖泉酒、水坛、花缸、宜兴罐、风炉、盆碗、泥人等。”由此可知，在明代末年，惠山泥人已作为商品在当地店铺出售，并渐趋成熟。</p>
			<p>      由此可见，惠山泥人的出现时间应该在明代。教、祠堂、戏曲都有紧密的联系无锡泥人中最具代表的阿福，就源于佛教。中国工艺美术大师王木东先生曾画过一幅惠山大阿福的造型衍生图，指“大阿福的形象是从唐代惠山寺石经幢之高浮雕结伽趺座佛像及宋代惠山寺金莲桥之浅浮雕牡丹童子图案中衍生而来的。传说大阿福又叫“沙孩儿”，对于大阿福姓沙，有人将之理解为，沙即沙门，“沙孩儿”实则佛门里的沙弥僧，大阿福也就是惠山寺里的小和尚。而传统大阿福早期的制作工艺，就是用“单片印模”来刻制泥胚，而这种造像方法，直接采自唐朝传入我国的小型佛像制作由此可见大阿福的起源与佛教有关早期的大阿福可能就是用作供奉的。在乔锦洪写的《早期惠山粗货泥人》一文中也称：“据老艺人讲，最初的泥人是专为寺庙制作的小佛像，用于回赠前来进香的施主，所以早期泥人造型大多面目端庄、盘膝而坐，带有佛塑中‘结跏趺式’的痕迹。可以说，像造型是早期惠山泥人的取材之</p>
			<p>     作为“南朝四百八十寺”之一的惠山寺，香火旺盛，佛像如林，泥塑艺人们在长期观察中体会到佛塑造型具有立体感和动态感。他们在创作泥人时试加运用，效果颇佳，在后来的泥人创作中也出现了“手捏佛道”这类专门的泥人品种。如果说，惠山泥人的渊源与佛教文化有着千丝万缕的联系的话，那么，惠山泥人与惠山祠堂之间，同样存在着不解之缘。惠山祠堂群兴盛于明清，这段时间恰好也是惠山泥人得以发展、兴旺的时期。无锡市泥人研究所所长兼泥人博物馆馆长赵建高就曾说：“泥人文化与祠堂文化是密不可分的。惠山地区聚集了100多家祠堂，因此早期惠山泥塑艺人中有很多人除了农忙务农外，还兼作名门望族的祠堂看管人。当时的泥人生产，以每年九、十月至翌年四月十日纯阳节为忙季，忙季一过，艺人们仍以种田为主。清末，惠山泥人已由季节性的作坊生产逐渐过渡到专业生产。至辛亥革命前，专业作坊已有四十多家。其时，艺人仍多兼作惠山众多祠堂之“祠</p>
		</div>
	</div>
	<!--发展过程  结束-->
</div>
<!-- 内容部分 结束 -->
<% include layouts/footer %>