<% include layouts/header %>

<link rel="stylesheet" href="/css/yunjiaoyipaging.css">


	<div class="Jingdezhen">
		<div class="Jingdezhen-one">
			<h3>
				<img src="/imgs/787084770.png" alt="">
			</h3>
			<ul>
				<li>
					<img src="/imgs/santu.png" alt="">
				</li>
				<li>
					<img src="/imgs/santu.png" alt="">
				</li>
				<li>
					<img src="/imgs/santu.png" alt="">
				</li>
				<li>
					<img src="/imgs/santu.png" alt="">
				</li>
				<li>
					<img src="/imgs/santu.png" alt="">
				</li>
			</ul>
		</div>
		<div class="Jingdezhen-two">
			<ul>
				<li>景德镇陶瓷器</li>
				<li>
					价格: <a>￥<span>120</span></a> - <a>￥<span>360</span></a>
				</li>
				<li>尺寸：<span>100cm</span> <span>120cm</span>
				</li>
				<li>运费：免运费</li>
			</ul>
			<div class="anniu">
				<span>数量:</span>
				<div class="yikuai">
					<button>-</button>
					<input type="text" value="1">
					<button>+</button>
				</div>
			</div>
			
			<div class="gouwuche">
				<button>立即购买</button>
				<button>加入购物车</button>
			</div>

		</div>
	</div>

	<!-- 商品详情  商品评价 -->
	<div class="details-introduce">
		<span class="active-xuanzhong">商品详情</span>
		<span>商品评价(0)</span>
	</div>
	
	<div class="block-yunjiaoyi">
		<div class="block-yunjiaoyi-one">
			<div class="block-yunjiaoyi-modian">
				<img src="/imgs/modian.png" alt="">
				壹
			</div>
			<div class="block-yunjiaoyi-tu">
				<img src="/imgs/yitu.png" alt="">
			</div>
			<span>
				景德镇陶瓷器落地大花瓶奢华
				高档礼品珐琅彩客厅家居新房
				装饰摆件
			</span>
		</div>

		<div class="block-yunjiaoyi-two">
			<div class="block-yunjiaoyi-modian">
				<img src="/imgs/modian.png" alt="">
				贰
			</div>
			<div class="block-yunjiaoyi-tu">
				<img src="/imgs/ertu.png" alt="">
			</div>
			<span>
				景德镇陶瓷器落地大花瓶奢华
				高档礼品珐琅彩客厅家居新房
				装饰摆件
			</span>
		</div>

		<div class="block-yunjiaoyi-three">
			<div class="block-yunjiaoyi-modian">
				<img src="/imgs/modian.png" alt="">
				叁
			</div>
			<div class="block-yunjiaoyi-tua">
				<img src="/imgs/santu.png" alt="">
			</div>
			<span>
				景德镇陶瓷器落地大花瓶奢华
				高档礼品珐琅彩客厅家居新房
				装饰摆件
			</span>
		</div>

		<div class="block-yunjiaoyi-two">
			<div class="block-yunjiaoyi-modian">
				<img src="/imgs/modian.png" alt="">
				肆
			</div>
			<div class="block-yunjiaoyi-tu">
				<img src="/imgs/situ.png" alt="">
			</div>
			<span>
				景德镇陶瓷器落地大花瓶奢华
				高档礼品珐琅彩客厅家居新房
				装饰摆件
			</span>
		</div>

		<div class="block-yunjiaoyi-two">
			<div class="block-yunjiaoyi-modian">
				<img src="/imgs/modian.png" alt="">
				伍
			</div>
			<div class="block-yunjiaoyi-tu">
				<img src="/imgs/wutu.png" alt="">
			</div>
			<span>
				景德镇陶瓷器落地大花瓶奢华
				高档礼品珐琅彩客厅家居新房
				装饰摆件
			</span>
		</div>

	</div>


	<!-- 商品展示 -->

	<div class="zhanshi-ping">
		<div class="zhanshiqu">商品展示
			<img src="/imgs/BitmapCopy7.png" alt="">
		</div>
	</div>

	<!-- 商品信息 -->
	
	<div class="zhanshixingxi-one">
		<img src="/imgs/jietuone.png" alt="">
		
		<div class="wenzineirong">
			<p>
			青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青
		
			青花瓷于唐宋花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。
			</p>

			<p>
				青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。
			</p>

			<p>
				青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。
			</p>
		</div>
	</div>

	<div class="zhanshixingxi-one dierping">
		
		
		<div class="wenzineirong wenzineirong-di">
			<p>
			青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青
		
			青花瓷于唐宋花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。
			</p>

			<p>
				青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。
			</p>

			<p>
				青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。青花瓷是景德镇的四大传统名瓷之一，起始于唐宋江，成熟语元代。原始青花瓷于唐宋已端而成熟的青花瓷则出现在元代景德镇的胡天窑。
			</p>
		</div>
		<img src="/imgs/jietutwo.png" alt="">
	</div>

	<!-- 90cm尺寸效果 -->

	<div class="chicui-one">
		<img src="/imgs/jietuthree.png" alt="">
		<img src="/imgs/jietufour.png" alt="">
		<span>（90cm尺寸的效果）</span>
	</div>

	<div class="chicui-two">
		<img src="/imgs/jietuthree.png" alt="">
		<img src="/imgs/jietufour.png" alt="">
		<span>（120cm尺寸的效果）</span>
	</div>

<% include layouts/footer %>