<% include layouts/header %>
<!-- 引入css样式 -->
<link rel="stylesheet" href="/css/yijiangxin.css">

<!-- 大图展示部分 开始 -->
<div class="show-img">
	<img src="/imgs/show-img.png" alt="">
</div>
<!-- 大图展示部分 结束 -->

<div class="wrap">
	
	<!-- 种类列表 开始 -->

	<!-- 部分导航展示  开始-->
	<div class="styles">
		<div class="styles-wrap">
			<div><img src="/imgs/remen.png" alt=""></div>
			<div><img src="/imgs/diqu.png" alt=""></div>
			<div><img src="/imgs/zhonglei.png" alt=""></div>
			<div><img src="/imgs/cailiao.png" alt=""></div>
		</div>
			
	</div>
	<!-- 部分导航展示  结束-->


	<!-- 泥人部分 开始 -->
	<div class="title">
		<a data-tab="yijiangxin" href="/yijiangxinpaging?tab=yijiangxin"><img src="/imgs/niren.png" alt=""></a>
	</div>
	<div class="xian">
		<img src="/imgs/aa.png" alt="">
	</div>
	<!-- 内容描述部分 开始 -->
	<div class="dis">
		<div class="dis-top">
			<div class="left">
				<div class="left-wrap">
					<p class="left-first"><a href="yijiangxinpaging">惠山泥人周</a></p>
					<p>惠山的泥人张彩塑是一种深得百姓厚爱的传统民间艺术品</p>
					<p>泥人张张明山只须和人对面坐谈<br>，搏土于手<br>，不动声色<br>，</p>
					<p>惟妙惟肖，栩栩如生<br>。</p>
					<p>“<br>泥人周<br>”的彩塑<br>，把传统的捏泥人提高到圆塑艺术的水</p>
					<p>平<br>，又装饰以色彩<br>、道具<br>，形成了独特的风格<br>。它是继元</p>
					<p>代刘元之后<br>，我国又一个泥塑艺术的高峰<br>，其作品艺术精</p>
					<p>美<br>，影响远及世界各地<br>，在我国传统民间手工艺史上占有</p>
					<p>重要的地位<br>。</p>
				</div>
			</div>
			<div class="right">
				<div class="right-wrap">
					<div class="right-img2"><a data-tab="yijiangxin" href="/yijiangxinpaging?tab=yijiangxin"><img src="/imgs/c.png" alt=""></a></div>
					<div class="right-img1"><a data-tab="yijiangxin" href="/yijiangxinpaging?tab=yijiangxin"><img src="/imgs/b.png" alt=""></a></div>
				</div>
			</div>
		</div>	
		<div class="dis-bottom">
			<div>
				<img src="/imgs/56465.png" alt="">
			</div>
			<div>
				<img src="/imgs/6.png" alt="">
			</div>
			<div>
				<img src="/imgs/65656.png" alt="">
			</div>
			<div class="dis-bottom-last">
				<img src="/imgs/6.png" alt="">
			</div>
		</div>
	</div>
	<!-- 内容描述部分 结束 -->
	<!-- 泥人部分 结束 -->

	<!-- 剪纸部分 开始 -->
	<div class="title">
		<img src="/imgs/niren.png" alt="">
	</div>
	<div class="xian">
		<img src="/imgs/aa.png" alt="">
	</div>
	<!-- 内容描述部分 开始 -->
	<div class="dis">
		<div class="dis-top">
			<div class="left left1">
				<div class="left-wrap">
					<p class="left-first">惠山泥人周</p>
					<p>惠山的泥人张彩塑是一种深得百姓厚爱的传统民间艺术品</p>
					<p>泥人张张明山只须和人对面坐谈<br>，搏土于手<br>，不动声色<br>，</p>
					<p>惟妙惟肖，栩栩如生<br>。</p>
					<p>“<br>泥人周<br>”的彩塑<br>，把传统的捏泥人提高到圆塑艺术的水</p>
					<p>平<br>，又装饰以色彩<br>、道具<br>，形成了独特的风格<br>。它是继元</p>
					<p>代刘元之后<br>，我国又一个泥塑艺术的高峰<br>，其作品艺术精</p>
					<p>美<br>，影响远及世界各地<br>，在我国传统民间手工艺史上占有</p>
					<p>重要的地位<br>。</p>
				</div>
			</div>
			<div class="right right1">
				<div class="right-wrap">
					<div class="right-img2 right-imga"><img src="/imgs/68.png" alt=""></div>
					<div class="right-img1 right-imgb"><img src="/imgs/a47.png" alt=""></div>
				</div>
			</div>
		</div>	
		<div class="dis-bottom">
			<div>
				<img src="/imgs/777.png" alt="">
			</div>
			<div>
				<img src="/imgs/864.png" alt="">
			</div>
			<div>
				<img src="/imgs/315.png" alt="">
			</div>
			<div class="dis-bottom-last">
				<img src="/imgs/564.png" alt="">
			</div>
		</div>
	</div>
	<!-- 内容描述部分 结束 -->
	<!-- 剪纸部分 结束 -->

	<!-- 瓷器部分 开始 -->
	<div class="title">
		<img src="/imgs/niren.png" alt="">
	</div>
	<div class="xian">
		<img src="/imgs/aa.png" alt="">
	</div>
	<!-- 内容描述部分 开始 -->
	<div class="dis">
		<div class="dis-top">
			<div class="left">
				<div class="left-wrap">
					<p class="left-first">惠山泥人周</p>
					<p>惠山的泥人张彩塑是一种深得百姓厚爱的传统民间艺术品</p>
					<p>泥人张张明山只须和人对面坐谈<br>，搏土于手<br>，不动声色<br>，</p>
					<p>惟妙惟肖，栩栩如生<br>。</p>
					<p>“<br>泥人周<br>”的彩塑<br>，把传统的捏泥人提高到圆塑艺术的水</p>
					<p>平<br>，又装饰以色彩<br>、道具<br>，形成了独特的风格<br>。它是继元</p>
					<p>代刘元之后<br>，我国又一个泥塑艺术的高峰<br>，其作品艺术精</p>
					<p>美<br>，影响远及世界各地<br>，在我国传统民间手工艺史上占有</p>
					<p>重要的地位<br>。</p>
				</div>
			</div>
			<div class="right">
				<div class="right-wrap">
					<div class="right-img2"><img src="/imgs/80.png" alt=""></div>
					<div class="right-img1"><img src="/imgs/79.png" alt=""></div>
				</div>
			</div>
		</div>	
		<div class="dis-bottom">
			<div>
				<img src="/imgs/q.png" alt="">
			</div>
			<div>
				<img src="/imgs/w.png" alt="">
			</div>
			<div>
				<img src="/imgs/0.png" alt="">
			</div>
			<div class="dis-bottom-last">
				<img src="/imgs/ad.png" alt="">
			</div>
		</div>
	</div>
	<!-- 内容描述部分 结束 -->
	<!-- 瓷器部分 结束 -->

	<!-- 种类列表 结束 -->
	<div class="page">
	<div>1</div>
	<div>2</div>
	<div>3</div>
	<div>4</div>
	<div>5</div>
	<div>6</div>
	<div>7</div>
	<div>8</div>
	<div>9</div>
	<div>10</div>
	<div class="next">下一页></div>
</div>


<% include layouts/footer %>