<% include layouts/header %>
<link rel="stylesheet" href="/css/yunjiaoyi.css">
<!-- <link rel="stylesheet" href="/js/yunjiaoyi.js"> -->


<script src="/js/yunjiaoyi.js"></script>

	<!-- 刺绣图 -->
	<div class="cixiu">

	</div>
	<!-- 限时拍卖小块 -->
	<div class="auction-a"><a data-tab="yjypaging" href="/yjypaging?tab=yijiaoyi">
		<p>限时拍卖</p></a>
	</div>
	<!-- 拍卖时间 -->
	<div class="time-a">
		<ul>
			<li>
				<p>8: 00</p>
				<h5>已开抢</h5>
			</li><li class="time-active">
				<p>10: 00</p>
				<h5>进行中</h5>
			</li><li>
				<p>12: 00</p>
				<h5>即将开场</h5>
			</li><li>
				<p>14: 00</p>
				<h5>即将开场</h5>
			</li><li>
				<p>16: 00</p>
				<h5>即将开场</h5>
			</li><li>
				<p>18: 00</p>
				<h5>即将开场</h5>
			</li><li>
				<p>20: 00</p>
				<h5>即将开场</h5>
			</li><li>
				<p>24: 00</p>
				<h5>即将开场</h5>
			</li>
		</ul>
	</div>

	<!-- 冯文士作品 -->

	<div id="gourd-a">
		<div class="gourd-b">
			<div class="gourd-bb">
			</div>
		</div>

		<div class="groud-c">
			<ul>
				<li>
					<p>冯文士作品</p>
					<p>黄花梨木雕葫芦摆件  花梨木葫芦 整料雕</p>
					
				</li>
				<li>
					<img src="/imgs/naozho.png" alt="">
					<p>设置提醒</p>
				</li>
			</ul>

			<div class="price-a">
				<p>当前价  <a>600元</a></p>
				<p>距结束  <span></span></p>
			</div>

			<div class="offer">
				<h6>出价</h6>
				<input id="kong" type="text" value="1">
				<div class="jiajian">
					<h2>+</h2>
					<h2>-</h2>
				</div>
			</div>

			<div class="dare"><a data-tab="yijiaoyipaging" href="/yijiaoyipaging?tab=yijiaoyi">立即加价</a></div>

		</div>
	</div>

	<!-- 轮播图 -->
	
	<div class="switch-a">
		<div class="switch-one"></div>
		<div class="switch-two equally-a santu">
			<a data-tab="yijiaoyi" href="/yijiaoyipaging?tab=yijiaoyi"><img src="/imgs/lunbozuo.png" alt=""></a>
		</div>
		<div class="switch-three santu">
			<a data-tab="yijiaoyi" href="/yijiaoyipaging?tab=yijiaoyi"><img src="/imgs/lunbozhong.png" alt=""></a>
		</div>
		<div class="switch-four equally-a santu">
			<a data-tab="yijiaoyi" href="/yijiaoyipaging?tab=yijiaoyi"><img src="/imgs/lunboyou.png" alt=""></a>
		</div>
		<div class="switch-five"></div>
	</div>

	<!-- 精品特卖 -->

	<div class="sale-a">
		<img src="/imgs/jinpintemai.png" alt="">
		<span>精品特卖</span>
	</div>

	<ul class="ceramics">
		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>陶瓷</span>
		</li>
		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>编制</span>
		</li>
		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>刺绣</span>
		</li>
		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>木雕</span>
		</li>
		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>剪纸</span>
		</li>

		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>皮影</span>
		</li>
		<li>
			<img src="/imgs/fecopy.png" alt="">
			<span>更多</span>
		</li>
	</ul>
	
	<!-- 排序选项 -->

	<div class="quanzhu">
		<ul class="comprehensive">
			<span class="comprehensive-active comprehensive-one">综合排序</span>
			<span class="comprehensive-two">销量</span>
			<span class="comprehensive-three">人气</span>
			<span class="comprehensive-four">价格V</span>
		</ul>
	</div>

	<!-- 图片列表 -->

	<div class="decoration-a">
		<ul>
			<li>
				<a data-tab="yijiaoyi" href="/yjypaging?tab=yijiaoyi"><img src="/imgs/643008147.png" alt=""></a>
			</li>
			<li>
				<img src="/imgs/301151519.png" alt="">
			</li>
			<li>
				<img src="/imgs/787084770.png" alt="">
			</li>
			<li>
				<img src="/imgs/GroupCopy2.png" alt="">
			</li>
			<li class="four-tu">
				<img src="/imgs/GroupCopy3.png" alt="">
			</li>
			<li class="four-tu">
				<img src="/imgs/GroupCopy4.png" alt="">
			</li>
			<li class="four-tu">
				<img src="/imgs/GroupCopy5.png" alt="">
			</li>
			<li class="four-tu">
				<img src="/imgs/GroupCopy6.png" alt="">
			</li>

		</ul>
	</div>


	

<% include layouts/footer %>