<!-- 引入头部 -->
<% include layouts/header %>

<!-- 引入css样式 -->
<link rel="stylesheet" href="/css/yunxueyuan.css">

	<!-- banner图 -->
	<div style="width:100%; height:800px;">
		<img style="width:100%; height:100%" src="/imgs/yixueyuanImg/banner1.png" alt="">
	</div>

	<div id="main" class="container">
		<!-- 视频教程 -->
		<div class="video-title text-center">
			<strong>视频教程</strong>
		</div>
		<div class="line"><img src="/imgs/yixueyuanImg/line.png" alt=""></div>

		<div class="video-wrap">
			<a href="/yixueyuanpaging?tab=yixueyuan">
				<div class="video"><img src="/imgs/yixueyuanImg/yi.png" alt=""></div>
			</a>
			<a href="/yixueyuanpaging?tab=yixueyuan">
				<div class="video"><img src="/imgs/yixueyuanImg/er.png" alt=""></div>
			</a>
			<a href="/yixueyuanpaging?tab=yixueyuan">
				<div class="video"><img src="/imgs/yixueyuanImg/san.png" alt=""></div>
			</a>
		</div>
		<div class="video-wrap">
			<a href="/yixueyuanpaging?tab=yixueyuan">
				<div class="video"><img src="/imgs/yixueyuanImg/si.png" alt=""></div>
			</a>
			<a href="/yixueyuanpaging">
				<div class="video"><img src="/imgs/yixueyuanImg/wu.png" alt=""></div>
			</a>
			<a href="/yixueyuanpaging?tab=yixueyuan">
				<div class="video"><img src="/imgs/yixueyuanImg/liu.png" alt=""></div>
			</a>
		</div>
		<!-- 视频教程结束 -->

		<!-- 精华小贴士 -->
		<div class="tieshi-title text-center">
			<strong>精华小贴士</strong>
		</div>
		<div class="line"><img src="/imgs/yixueyuanImg/line.png" alt=""></div>

		<!-- 内容介绍 -->
		<div class="media tieshi-wrap">
			<div class="media-left tieshi-img">
				<a href="/yxypaging?tab=yixueyuan">
					<img class="media-object" src="/imgs/yixueyuanImg/one.png" alt="">
				</a>
			</div>
			<div class=" media-body">
				<h4 class="media-heading tieshi-h4">【手工艺特训营】在家学手艺就这么简单！
				</h4>
				<p>
					物质及精神生活需要的造物艺术。正如日本学者柳宗悦所说：“只有工艺的存在我们才能活。从早到晚或工作或休息。面对传统手工艺的衰落，从20世纪六七十年代起，西方就开始了范围广泛的“手工艺复兴运动”。虽然手工艺的复兴作为文化上的一种思潮，不可能从根本上改变社会生产的大趋势。
				</p>
			</div>
		</div>

		<div class="media tieshi-wrap">
			<div class="media-left tieshi-img">
				<a href="/yxypaging?tab=yixueyuan">
					<img class="media-object" src="/imgs/yixueyuanImg/four.png" alt="">
				</a>
			</div>
			<div class=" media-body">
				<h4 class="media-heading tieshi-h4">
					国礼“专业户”——景泰蓝
				</h4>
				<p>
					景泰蓝学名叫铜胎掐丝珐琅，早在春秋时期就已经出现了这门工艺，并在明朝景泰年间达到了一个高峰，因而，后世以“景泰蓝”代称铜胎掐丝珐琅。建国后，“景泰蓝”技艺几经波折，最终在一代才女林徽因等人的“抢救”下，得到了恢复。而今，“景泰蓝”作品不仅经常作为高规格的“国礼”赠送给外国政要，也逐渐受到寻常百姓们的喜爱。
				</p>
			</div>
		</div>

		<div class="media tieshi-wrap">
			<div class="media-left tieshi-img">
				<a href="/yxypaging?tab=yixueyuan">
					<img class="media-object" src="/imgs/yixueyuanImg/two.png" alt="">
				</a>
			</div>
			<div class=" media-body">
				<h4 class="media-heading tieshi-h4">
					你听过琉璃的故事吗？
				</h4>
				<p>
					在中国古典四大名著《西游记》里，曾为卷帘大将的沙和尚就是因为失手打碎琉璃盏而被玉帝贬下凡间，足见琉璃之珍贵。而对于如此珍贵、美丽且又濒临失传的手工技艺，自然更值得我们去保护和传承。
				</p>
			</div>
		</div>

		<div class="media tieshi-wrap">
			<div class="media-left tieshi-img">
				<a href="/yxypaging?tab=yixueyuan">
					<img class="media-object" src="/imgs/yixueyuanImg/three.png" alt="">
				</a>
			</div>
			<div class=" media-body">
				<h4 class="media-heading tieshi-h4">
					你一定不会相信……
				</h4>
				<p>
					可以说，竹编的出现是伴随着人类的生产活动而诞生的，具有极高的实用价值，而建国以来，人们也慢慢重视起竹编的艺术价值。而对于这门伴随着人类生活而生，又极具实用和艺术价值的中国最古老的手工艺来说，更应该需要我们传承。</p>
			</div>
		</div>

		<div class="media tieshi-wrap">
			<div class="media-left tieshi-img">
				<a href="/yxypaging?tab=yixueyuan">
					<img class="media-object" src="/imgs/yixueyuanImg/four.png" alt="">
				</a>
			</div>
			<div class=" media-body">
				<h4 class="media-heading tieshi-h4">
					国礼“专业户”——景泰蓝
				</h4>
				<p>
					景泰蓝学名叫铜胎掐丝珐琅，早在春秋时期就已经出现了这门工艺，并在明朝景泰年间达到了一个高峰，因而，后世以“景泰蓝”代称铜胎掐丝珐琅。建国后，“景泰蓝”技艺几经波折，最终在一代才女林徽因等人的“抢救”下，得到了恢复。而今，“景泰蓝”作品不仅经常作为高规格的“国礼”赠送给外国政要，也逐渐受到寻常百姓们的喜爱。
				</p>
			</div>
		</div>
		<!-- 精华小贴士结束 -->

		<!-- 鹤 -->
		<div id="he">
			<img src="/imgs/yixueyuanImg/he.png" alt="">
		</div>

		<!-- 小船 -->
		<div id="chuan">
			<img src="/imgs/yixueyuanImg/Bitmap Copy.png" alt="">
		</div>

	</div> 	<!-- container -->

<!-- 引入底部 -->
<% include layouts/footer %>