<% include layouts/header %>
<link rel="stylesheet" href="/css/yunxueyuanpaging.css">

	<!-- 画 -->
	<div class="hua"><img src="/imgs/yixueyuanImg/hua.png" alt=""></div>

	<div id="main" class="container">

		<!-- 左侧 内容 -->
		<div class="wrap-left">
			<div class="head-title text-center">
				传统糖人初级锦鲤制作教程
			</div>
			<div class="head-video">
				<img src="/imgs/yixueyuanImg/160927142529_cover.jpg@!web_course_153.png" alt="">
				<div class="video-icon"></div>
			</div>
			<!-- 介绍 -->
			<div class="intro">
				<h3 class="h3">注意事项：</h3>
				<p>
					最见功夫的主要是熬糖和绘画这两个环节。糖的多少，加水的比例，熬到什么火候，都是经验的结晶。拿捏不住糖的稀释程度，再好的绘画技巧也无法展现出来。握住糖勺绘画时，讲究的是眼明手快、眼到手到迅速造型，以求一气呵成。
				</p>
				<h3 class="h3">主要材料：</h3>
				<p>
					勺子、蔗糖、火、大理石板、竹签子、锅、一把钢尺
				</p>
			</div>

			<!-- 人气、点赞、收藏、评论 -->
			<div class="row func">
				<div class="col-md-4 hot">
					<b>人气:</b><span>1128</span>
				</div>
				<div class="col-md-4 like">
					<b>点赞</b><span><img src="/imgs/yixueyuanImg/xin.png" alt=""></span>
				</div>
				<div class="col-md-4 collect">
					<b>收藏</b><span>21</span>
				</div>
				<div class="col-md-4 commet">
					<b>评论</b><span>9</span>
				</div>
			</div>
			<!-- 上传我的作品 -->
			<div class="upload">上传我的作品</div>
			<!-- 评论 -->
			<div class="comment">
				<textarea class="comment-content" placeholder="发表评论……"></textarea><br>
				<div class="emjo">表情</div>
				<button class="btn publish">发表</button>
			</div>

			<!-- 评论信息 -->
			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/cc.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">天地间</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>终于有了第一个作品</p>
				</div>
			</div>

			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/bb.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">戏如人生</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>步骤这么清晰</p>
				</div>
			</div>

			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/aa.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">清水</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>赞一个</p>
				</div>
			</div>
 
			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/touxianf.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">芭比娃娃</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>喜欢喜欢</p>
				</div>
			</div>

			<!-- 云朵 -->
			<div class="yun"></div>
			<!-- 墨水 -->
			<div class="mo"></div>

		</div>  <!-- wrap-left -->

		<!-- 右侧 内容 -->
		<div class="wrap-right">
			<div class="row">
				<div class="col-md-6 userImg">
					<img src="/imgs/yixueyuanImg/lian.png" alt="">
				</div>
				<div class="col-md-4 col-offset-2">
					<h4 class="text-center userName">糖人张</h4>
					<div class="guanzhu text-center">加关注</div>
				</div>
			</div>

			<!-- 版权说明 -->
			<div class="copyright">
				<p>版权说明： 用编织的方法来做儿童手工小猫头鹰的新年装饰教程 创建于2017-09-15版权归作者，没有本人的许可不得转载或使用任何部分的内容。</p>
			</div>

			<!-- 手艺人其他教程 -->
			<div class="otherVideo">
				<h4>手艺人其他教程（20）</h4>
				<ul>
					<li>
						<img src="/imgs/yixueyuanImg/160927142529_cover.jpg@!web_course_153.png" alt="">
						<div class="stopBtn"><img src="/imgs/yixueyuanImg/BitmapCopy21.png" alt=""></div>
					</li>
					<li>
						<img src="/imgs/yixueyuanImg/170125213818_cover.jpg@!web_course_153.png" alt="">
						<div class="stopBtn"><img src="/imgs/yixueyuanImg/BitmapCopy21.png" alt=""></div>
					</li>
				</ul>
				<ul>
					<li>
						<img src="/imgs/yixueyuanImg/170131203244_cover.jpg@!web_course_153.png" alt="">
						<div class="stopBtn"><img src="/imgs/yixueyuanImg/BitmapCopy21.png" alt=""></div>
					</li>
					<li>
						<img src="/imgs/yixueyuanImg/170419221938_cover.jpg@!web_course_153.png" alt="">
						<div class="stopBtn"><img src="/imgs/yixueyuanImg/BitmapCopy21.png" alt=""></div>
					</li>
				</ul>
				
			</div>

			<!-- 与手艺相关的产品 -->
			<h4 class="h4 goods">与手艺相关的产品</h4>
			<div class="media good-list">
				<div class="media-left good-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/qwe.png" alt="">
					</a>
				</div>
				<div class="good-info media-body">
					<p>名称：专用竹签 烧烤工具</p>
					<p>价格：￥6.90</p>
				</div>
			</div>

			<div class="media good-list">
				<div class="media-left good-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/e.png" alt="">
					</a>
				</div>
				<div class="good-info media-body">
					<p>名称：掌微老冰糖800g蔗糖</p>
					<p>价格：¥18.00-44.80</p>
				</div>
			</div>

			<div class="media good-list">
				<div class="media-left good-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/a.png" alt="">
					</a>
				</div>
				<div class="good-info media-body">
					<p>名称：绿林钢尺加厚钢板尺</p>
					<p>价格：¥5.80-6.80</p>
				</div>
			</div>

			<!-- 糖人教程 -->
			<div class="tang">
				<div class="tang-head">
					糖人教程
					<span class="tang-new">最热</span>
					<span class="tang-new">最新</span>
				</div>
				<!-- 最热 -->
				<div class="tang-list">
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang2.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang2.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang3.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang4.png" alt=""></div></a>
				</div>
				<!-- 最新 -->
				<div class="tang-list">
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang1.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang2.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang3.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/tang4.png" alt=""></div></a>
				</div>
			</div>

		</div>  <!-- wrap-right --> 

	</div>  <!-- container -->

<!-- 引入js文件 -->
<script src="/js/yunxueyuanpaging.js"></script>

<!-- 引入公共底部 -->
<% include layouts/footer %>