<% include layouts/header %>

<link rel="stylesheet" href="/css/yunzhibopaging.css">

<div class="container">
	<div class="yirzhuanf">
		<div>
			<img class="copy-img" src="imgs/Page 1 Copy.png" alt="">
			<span class="copy-nir">艺人专访—泥人张和他的泥人们</span>
		</div>
		<img class="tou-img" src="imgs/touxiang.png" alt="">
		<span class="qinc">清晨的阳光</span>
		<div class="guanzhu">
			<span class="guan">关注</span>
			<span class="gzr">1762人</span>
		</div>
	</div>
	<div class="timg">
		<img style="width:100%;height:100%;" src="imgs/timg99.png" alt="">
		<img class="btimg" src="imgs/Bitmap.png" alt="">
	</div>
	<div class="list1">
		<div class="huati">
			全部评论
		</div>
		<div class="htaok1">
			<img src="imgs/ppp.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师,哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</span>
		</div>
		<div class="htaok1">
			<img src="imgs/san.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<div class="htaok1">
			<img src="imgs/qi.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<div class="htaok1">
			<img src="imgs/wu.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<div class="htaok1">
			<img src="imgs/liu.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<div class="htaok1">
			<img src="imgs/ba.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<div class="htaok1">
			<img src="imgs/san.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<div class="htaok1">
			<img src="imgs/wu.png" alt="">
			<span class="ht">黑涛K:</span>
			<span class="piny">好腻害呀,想拜泥人张为师</span>
		</div>
		<img class="list1-img" src="imgs/hah.png" alt="">
		<img class="kjj" src="imgs/djkjj.png" alt="">
	</div>
	<div class="suos">
		<input type="text" >
		<button class="btn">发送</button>
	</div>
</div>

<% include layouts/footer %>