<% include layouts/header %>
<link rel="stylesheet" href="/css/yizhibo.css">
<div class="container">
	<div class="zhibotu">
		<a data-tab="yizhibo" href="/yizhibopaging?tab=yizhibo">
			<img src="imgs/1df875be98.jpg@1280w_1l_2o_100sh.png" alt="">
		</a>
		<div class="rig">
			<img style="width:296px;margin-top:0px" src="imgs/Group 6.png" alt="">
			<img style="width:296px" src="imgs/Group 7.png" alt="">
			<img style="width:296px" src="imgs/Group 8.png" alt="">
		</div>
	</div>
	<div class="wqhg">
		<img class="center-block" src="/imgs/Bitmap Copy 22.png" alt="">
	</div>
	<div class="zhuanf">
		<img src="imgs/Bitmap Copy 8.png" alt="">
		<span class="yir">艺人专访</span>
		<img class="fgx" src="imgs/ke shi qu xian.png" alt="">
		<div class="zf-santu">
			<img src="imgs/qwe.png" alt="">
			<img src="imgs/Group 2.png" alt="">
			<img src="imgs/Group4.png" alt="">
		</div>
	</div>
	<img class="fhe" src="imgs/3856dd897140fcfeb20692e5449ef56e copy 2.png" alt="">
	<div class="zhuanf">
		<img src="imgs/Bitmap Copy 8.png" alt="">
		<span class="yir">线下活动</span>
		<img class="fgx" src="imgs/ke shi qu xian.png" alt="">
		<div class="zf-santu">
			<img src="imgs/f8fd9dd3.JPG@1280w_1l_2o_100sh.png" alt="">
			<img src="imgs/a132cceb25..png" alt="">
			<img src="imgs/oiuyt.png" alt="">
		</div>
	</div>
	<div class="zhuanf">
		<img src="imgs/Bitmap Copy 8.png" alt="">
		<span class="yir">高校课堂</span>
		<img class="fgx" src="imgs/ke shi qu xian.png" alt="">
		<div class="zf-santu">
			<img src="imgs/20150603090616690.png" alt="">
			<img src="imgs/20150603090616690.png" alt="">
			<img src="imgs/20150603090616690.png" alt="">
		</div>
	</div>
	<div class="zhuanf">
		<img src="imgs/Bitmap Copy 8.png" alt="">
		<span class="yir">企业风采</span>
		<img class="fgx" src="imgs/ke shi qu xian.png" alt="">
		<div class="zf-santu">
			<img src="imgs/20166121043121.png" alt="">
			<img src="imgs/20166121043121.png" alt="">
			<img src="imgs/20166121043121.png" alt="">
		</div>
	</div>
	<div class="xiaoc">
		<img style="width:145.8px;height:109.3px;" src="imgs/tu.png" alt="">
	</div>
</div>

<% include layouts/footer %>