<% include layouts/header %>
<link rel="stylesheet" href="/css/yxypaging.css">

	<div id="main" class="container">

		<!-- 左侧 内容 -->
		<div class="wrap-left">
			<h4 class="h3 head-title text-center">陶瓷天圆地方制作教程</h4>
			<div class="head-video">
				<img src="/imgs/yixueyuanImg/original.png" alt="">
			</div>

			<div class="need">
				<p>主要材料：紫砂泥</p>
				<p>所需工具：旁皮刀	、剜嘴刀、塑料垫板、竹签刀、铁圈</p>
			</div>

			<div class="need-list">
				<div class="need-img"><img src="/imgs/yixueyuanImg/XXXXXXXX.png" alt=""></div>
				<div class="need-img"><img src="/imgs/yixueyuanImg/FjXXXk_VXa.png" alt=""></div>
				<div class="need-img"><img src="/imgs/yixueyuanImg/qwea.png" alt=""></div>
				<div class="need-img"><img src="/imgs/yixueyuanImg/FjXXXk_VXa.png" alt=""></div>
			</div>

			<!-- 步骤 -->
			<div class="step">
				<h3 class="h3">步骤1：</h3>
				<div class="step-img"><img src="/imgs/yixueyuanImg/qw.png" alt=""></div>
				<p>如果没有把握直接绘制的话，就可以先在电脑上设计好路灯和小女孩的样子，然后打印出来。</p>
			</div>
			<div class="step">
				<h3 class="h3">步骤2：</h3>
				<div class="step-img"><img src="/imgs/yixueyuanImg/asdfg.png" alt=""></div>
				<p>树的形状也可以提前打印好，方便剪裁书页。</p>
			</div>
			<div class="step">
				<h3 class="h3">步骤3：</h3>
				<div class="step-img"><img src="/imgs/yixueyuanImg/jkl.png" alt=""></div>
				<p>将电池要藏到书页里面，用美工刀剪好一个合适的槽放好。</p>
			</div>
			<div class="step">
				<h3 class="h3">步骤4：</h3>
				<div class="step-img"><img src="/imgs/yixueyuanImg/zcx.png" alt=""></div>
				<p>将电池要藏到书页里面，用美工刀剪好一个合适的槽放好。</p>
			</div>

			<!-- 上传我的作品 -->
			<div class="stepMore">查看更多步骤</div>

			<!-- 人气、点赞、收藏、评论 -->
			<div class="row func">
				<div class="col-md-4 hot">
					<b>人气:</b><span>1128</span>
				</div>
				<div class="col-md-4 like">
					<b>点赞</b><span><img src="/imgs/yixueyuanImg/xin.png" alt=""></span>
				</div>
				<div class="col-md-4 collect">
					<b>收藏</b><span>21</span>
				</div>
				<div class="col-md-4 commet">
					<b>评论</b><span>9</span>
				</div>
			</div>
			<!-- 上传我的作品 -->
			<div class="upload">上传我的作品</div>
			<!-- 评论 -->
			<div class="comment">
				<textarea class="comment-content" placeholder="发表评论……"></textarea><br>
				<div class="emjo">表情</div>
				<button class="btn publish">发表</button>
			</div>

			<!-- 评论信息 -->
			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/cc.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">天地间</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>终于有了第一个作品</p>
				</div>
			</div>

			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/bb.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">戏如人生</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>步骤这么清晰</p>
				</div>
			</div>

			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/aa.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">清水</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>赞一个</p>
				</div>
			</div>

			<div class="media comment-list">
				<div class="media-left user-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/touxianf.png" alt="">
					</a>
				</div>
				<div class=" media-body">
					<div class="media-heading" style="margin-left:10px">
						<b class="comment-user-name">芭比娃娃</b>
						<i class="comment-time">2017-09-23  07:10:19 </i>
						<span class="comment-res">回复</span>
					</div>
					<p>喜欢喜欢</p>
				</div>
			</div>

		</div>	<!-- wrap-left -->

		<!-- 右侧 内容 -->
		<div class="wrap-right">
			<div class="row">
				<div class="col-md-6 userImg">
					<img src="/imgs/yixueyuanImg/index.png" alt="">
				</div>
				<div class="col-md-4 col-offset-2">
					<h4 class="text-center userName">巧手匠</h4>
					<div class="guanzhu text-center">加关注</div>
				</div>
			</div>

			<!-- 版权说明 -->
			<div class="copyright">
				<p>版权说明： 用编织的方法来做儿童手工小猫头鹰的新年装饰教程 创建于2017-09-15版权归作者，没有本人的许可不得转载或使用任何部分的内容。</p>
			</div>

			<!-- 手艺人其他教程 -->
			<div class="otherVideo">
				<h4>手艺人其他教程（20）</h4>
				<ul>
					<li>
						<img src="/imgs/yixueyuanImg/rse.png" alt="">
					</li>
					<li>
						<img src="/imgs/yixueyuanImg/eiu.png" alt="">
					</li>
				</ul>
				<ul>
					<li>
						<img src="/imgs/yixueyuanImg/ourse.png" alt="">
					</li>
					<li>
						<img src="/imgs/yixueyuanImg/werwe.png" alt="">
					</li>
				</ul>
				
			</div>

			<!-- 与手艺相关的产品 -->
			<h4 class="h4 goods">与手艺相关的产品</h4>
			<div class="media good-list">
				<div class="media-left good-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/XXXXXXXX.png" alt="">
					</a>
				</div>
				<div class="good-info media-body">
					<p>名称：紫砂泥</p>
					<p>价格：￥6.90</p>
				</div>
			</div>

			<div class="media good-list">
				<div class="media-left good-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/FjXXXk_VXa.png" alt="">
					</a>
				</div>
				<div class="good-info media-body">
					<p>名称：蒙玛特丙烯颜料套装</p>
					<p>价格：¥18.00-44.80</p>
				</div>
			</div>

			<div class="media good-list">
				<div class="media-left good-img">
					<a href="#">
						<img class="media-object"src="/imgs/yixueyuanImg/qwea.png" alt="">
					</a>
				</div>
				<div class="good-info media-body">
					<p>名称：优湃得力便携手工剪刀</p>
					<p>价格：¥5.80-6.80</p>
				</div>
			</div>

			<!-- 糖人教程 -->
			<div class="tang">
				<div class="tang-head">
					糖人教程
					<span class="tang-new">最热</span>
					<span class="tang-new">最新</span>
				</div>
				<!-- 最热 -->
				<div class="tang-list">
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/qwer.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/qwer.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/qwert.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/uio.png" alt=""></div></a>
				</div>
				<!-- 最新 -->
				<div class="tang-list">
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/qwer.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/asdf.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/qwert.png" alt=""></div></a>
					<a href="javascript=''"><div class="tang-img"><img src="/imgs/yixueyuanImg/uio.png" alt=""></div></a>
				</div>
			</div>

		</div>  <!-- wrap-right --> 

	</div>	<!-- container --> 


<!-- 引入js文件 -->
<script src="/js/yunxueyuanpaging.js"></script>

<!-- 引入公共底部 -->
<% include layouts/footer %>