
#main{
	width:1200px;
	height:auto;
	margin-top: 100px;
	margin-bottom:124px;
	padding:0;
	position:relative;
}

/*视频教程*/
.video-title{
	width:160px;
	height:60px;
	line-height: 60px;
	font-size:24px;
	background:url('/imgs/yixueyuanImg/sigezikuang.png');
}
/*线*/
.line{ 
	width:100%; 
	height:10px; 
	margin-top:-15px; 
	margin-bottom: 65px; 
}
.line img{ width:100%; }

.video-wrap{
	width:100%;
	height:223px;
	padding:0 20px;
	margin-top:30px;
	box-sizing:border-box;
}
.video{
	width:360px;
	height:223px;
	float:left;
	padding:0;
	margin:0;
}
.video-wrap div~div{ margin-left:40px; }
.video img{ width:100%; }

/*精华小贴士*/
.tieshi-title{
	width:190px;
	height:60px;
	line-height: 60px;
	font-size:24px;
	background:url('/imgs/yixueyuanImg/wugezi.png');
	margin-top: 180px;
}
.tieshi-wrap{
	width:100%;
	height:240px;
	padding:0 20px;
	margin-top:30px;
	box-sizing:border-box;
}
.tieshi-img{ 
	width:360px; 
	height:240px;
	padding-right:28px;
}
.tieshi-img a{ 
	display:block; 
	width:360px;
	height:240px;
	
}
.tieshi-img a img{ width:100%; }

.tieshi-h4{ margin:15px 0; }

.media-body p{ line-height: 30px; }
#he{
	position:absolute;
	top:1080px;
	right:-80px;
	width:173px;
	height:143px;
}
#chuan{
	position: absolute;
	right:-100px;
	bottom:-40px;
	width:170px;
	height:128px;
}
#chuan img,#he img{ width:100%; }

