.container{
}
.yirzhuanf{
	width:100%;
	height:160px;
	position:relative;
}
.copy-img{
	margin-top:30px;
	margin-left:30%;
}
.copy-nir{
	font-size: 20px;
	color: #FFFFFF;
	position:absolute;
	left:425px;
	top:44px;
}
.tou-img{
	width:100px;
	height:107.2px;
	margin-top:-30px;
	margin-left:100px;
}
.qinc{
	font-family:微软雅黑;
	font-size: 23px;
	color: #000000;
}
.guanzhu{
	width:305px;
	height:100px;
	background:url(../imgs/8ef0398a.png);
	float:right;
	margin-top:-20px;
	margin-right:-30px;
}
.guan,.gzr{
	margin-top:27px;
	margin-left:48px;
	display:inline-block;
	font-size:28px;
	text-align:center;
}
.guan{
	width:73px;
	height:50px;
	background:#000;
	color:#fff;
}
.gzr{
	margin-left:10px;
}

.timg{
	width:100%;
	height:596px;
	margin-top:20px;
	position:relative;
}
.btimg{
	position:absolute;
	top:40%;
	left:45%;
}
.list1{
	width:100%;
	position:relative;
}
.huati{
	width:240px;
	height:90.9px;
	background:url(/imgs/wang.png) no-repeat;
	margin:50px auto;
	text-align:center;
	line-height:88px;
	color:#fff;
	font-size:26px;
	font-family:微软雅黑;
}
.htaok1 img{
	width:66px;
	height:69px;

}
.htaok1 .ht{
	color:#F5A623;
	font-size:24px;
	font-family:黑体;
}
.htaok1 .piny{
	font-size: 20px;
	color: #262626;
	font-family:黑体;

}
.list1-img{
	position:absolute;
	top:255px;
	left:410px;
	width:373px;
	height:307px;
}
.suos{
	width:998px;
	height:136px;
	background:url(/imgs/suos.png) no-repeat;
	margin:0 auto;
	margin-top:50px;
	position:relative;

}
.kjj{
	position:absolute;
	top:120px;
	left:-120px;
}
.suos input{
	width:711px;
	height:70px;
	position:absolute;
	top:28px;
	left:86px;
	outline:medium;
	outline: none;
	font-size:24px;
}
.btn{
	width:112px;
	height:86px;
	position:absolute;
	top:20px;
	left:797px;
	background: rgba(144,144,144,0.3);
	font-size:18px;
	font-family:黑体;
}

