	
	
	<div id="footer">
		<div id="text_footer">
			<ul>
				<li><a href="#">关于我们</li></a>
				<li><a href="#">联系我们</li></a>
				<li><a href="#">新手攻略</li></a>
				<li><a href="#">网站地图</li></a>
			</ul>
			<p>最专业的手工艺论坛  在寻艺网您可以学习和分享、瓷器、泥人、等精彩手工教程</p>
			<p>公司地址：北京市昌平区回龙观 育荣教育园区兄弟连  联系电话：010—8888888/010—666666</p>
			<p>北京寻艺信息技术有限公司Copyright xunyi.com京ICP备10020900—4号京公网安备11010502026419</p>
		</div>
			
	</div>
</body>
<script>
	$(function() {
		// 判断url地址 截取指定的分类 tab
		// console.log(location.href.indexOf('tab'))
		var tabIndex =  location.href.indexOf('tab');
		// console.log(tabIndex);
		if (tabIndex==-1) {
			tab = 'index'
		} else {
			var newUrl = location.href.substring(tabIndex);
			var tab = newUrl.split('&')[0].substring(newUrl.split('&')[0].indexOf('=')+1);
		}


		// 移除导航默认选中的元素
		// $('#headernav li.active').removeClass('active');

		// 当前这个
		$('[data-tab='+tab+']').addClass('active');
	})

</script>
</html>