<!-- 定义顶部的页面布局 -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>寻艺</title>
	
	<!-- 引入Bootstrap的css -->
	<link rel="stylesheet" href="/css/bootstrap.min.css">

	<!-- 引入jQuery -->
	<script src="/js/jquery.min.js"></script>

	<!-- 引入Bootstrap的js文件 -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- 引入页头、页脚 css -->
	<link rel="stylesheet" href="/css/header.css">

	<link rel="icon" href="/imgs/bitbug_favicon.ico">

</head>
<body>

	<!-- 定义导航部分 -->
	<div id="nav">
		<div class="nav-top">
			<div class="logo">
				<a href="/"><img src="/imgs/logo.png" alt=""></a>
			</div>
			<div class="text_p">
				<p>灵心胜造物</p>
				<p>妙手夺天工</p>
			</div>
			<div class="downApp">
				<a href=""><img src="/imgs/app.png" alt=""></a>
			</div>
			<div id="login_r">
				<ul>
					<li class="login">
						<a href="/users"><img src="/imgs/denglu.png" alt=""></a>
					</li>
					<li class="reg">
						<a href="#"><img src="/imgs/zhuce.png" alt=""></a>
					</li>
				</ul>
			</div>
		</div>
		<div id="decorate"></div>
		<ul id="headernav">
			<li><a data-tab="index"href="/?tab=index">首页</a></li>
			<li><a data-tab="yijiangxin" href="/yijiangxin?tab=yijiangxin">艺匠心</a></li>
			<li><a data-tab="yizhibo" href="/yizhibo?tab=yizhibo">艺直播</a></li>
			<li><a data-tab="yixueyuan" href="/yixueyuan?tab=yixueyuan">艺学院</a></li>
			<li><a data-tab="yihuodong" href="/yihuodong?tab=yihuodong">艺活动</a></li>
			<li><a data-tab="yijiaoyi" href="/yijiaoyi?tab=yijiaoyi">艺交易</a></li>
			
			<div class="input-search">
				<input type="text" class="search">
				<a href="#">
					<div class="Magnifier">
						<img src="/imgs/Magnifier.png" alt="">
					</div>
				</a>		
			</div>		
		</ul>
	</div>
	
